# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: node:10.15.3

pipelines:
  default:
    - step:
        caches:
          - node
       
        script: # Modify the commands below to build your repository.
          - echo $SSH_PRIVATE_KEY > ~/.ssh/id_rsa.tmp
          - base64 -d ~/.ssh/id_rsa.tmp > ~/.ssh/id_rsa
          - cat ~/.ssh/id_rsa
          - chmod 600 ~/.ssh/id_rsa
          - ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ubuntu@167.114.2.198 "cd /var/www/scrola && git pull -f origin dev && npm install && npm run doc && pm2 restart parse-apps.config.js && exit"
